#mySidenav a{
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#About{
    top: 20px;
    background-color:  green;
}

#Blog{
    top: 80px;
    background-color: red;
}

#Projects{
    top: 140px;
    background-color: blue;
}

#Contact{
    top: 200px;
    background-color: yellow;
}